body,
html {
  height:100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}


.clearCard{
  background-color: transparent;
 
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  text-align: center;
  background-color:white;
  color:lightskyblue;
  padding: 5px;
}

#entryForm {
  margin-top: 14px;
}

.container p {
  margin-top: 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
  background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger {
  margin-left: 10px;
}

#createGameCard {
  background-color: transparent;
}

.navbar {
  background-color: lightblue;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */

li a:hover {
  text-decoration: underline;
  color: #eee;
}

#carosel{
  height: 100%;
};

 .hero .demo-card {
   width: 320px;
   background-color: white;
 }

 .hero {
   min-height: 480px;
 }

 .demo-card {
   max-width: 21.875rem;
   /* 350sp */
   margin-bottom: 48px;
 }

 @media(min-width: 768px) {
   .demo-card {
     margin-bottom: 24px;
   }
 }

 .demo-card--with-avatar .mdc-card__primary {
   position: relative;
 }

 .demo-card--with-avatar .demo-card__avatar {
   position: absolute;
   background: #bdbdbd;
   height: 2.5rem;
   /* 40sp */
   width: 2.5rem;
   /* 40sp */
   border-radius: 50%;
 }

 .demo-card--with-avatar .mdc-card__title,
 .demo-card--with-avatar .mdc-card__subtitle {
   margin-left: 56px;
 }

 [dir="rtl"] .demo-card--with-avatar .mdc-card__title,
 [dir="rtl"] .demo-card--with-avatar .mdc-card__subtitle {
   margin-right: 56px;
   margin-left: initial;
 }

 .demo-card__16-9-media {
   background-image: url("images/16-9.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   height: 12.313rem;
   /* 197sp, for 16:9 ratio with 350sp demo card width */
 }

 .demo-card--small .mdc-card__media {
   background-image: url("images/1-1.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   height: 10.938rem;
   /* 175sp, for 1:1 ratio with 175sp demo card width */
 }

 .demo-card--bg-demo {
   height: 21.875rem;
   /* 350sp */
   background-image: url("images/1-1.jpg");
   background-size: cover;
   background-repeat: no-repeat;
 }

 .demo-card--bg-demo .mdc-card__primary,
 .demo-card--bg-demo .mdc-card__actions {
   background: rgba(0, 0, 0, .4);
 }

 #demo-wrapper {
   margin: 24px;
   display: flex;
   flex-flow: row wrap;
   align-content: left;
   justify-content: left;
 }

 #demo-wrapper .demo-card {
   margin: 24px;
   min-width: 320px;
 }
 .gridListdemoBasicUsage md-grid-list {
   margin: 8px;
 }

 .gridListdemoBasicUsage .gray {
   background: #f5f5f5;
 }

 .gridListdemoBasicUsage .green {
   background: #b9f6ca
  }

 .gridListdemoBasicUsage md-grid-tile {
   transition: all 400ms ease-out 50ms;
 }
