body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.clearCard {
  background-color: transparent;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  text-align: center;
  background-color: transparent;
  color: white;
  padding: 5px;
}

#entryForm {
  margin-top: 14px;
}

.container p {
  margin-top: 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
  background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger {
  margin-left: 10px;
}

.navbar {
  background-color: lightblue;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
  text-decoration: underline;
  color: #eee;
}

#carosel {
  height: 100%;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid black;
  display: inline-block;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid black;
  display: inline-block;
}

@keyframes myChange {
  from {
    height: 0px;
  }
  to {
    height: 100;
  }
}

.mapSearch {
  height: 100px;
}

.ng-hide {
  animation: 0.5s myChange;
}


#rectangle {
  width: 400px;
  height: 300px;
  background:lightyellow;
  top: 50%;
}

#tableHolder{
   background: rgba(229, 230, 224, 0.7)
}
