<!-- <div class="navbar">
  <div class="container" layout="row" layout-align="space-between center">
    <ul>
      <li>
        <a href="#/user">User Home</a>
      </li>
    </ul>
    <md-button class="btn btn-default" ng-click="uc.userService.logout()">Log Out</md-button>
  </div>
</div> -->
<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings">
      <md-icon md-font-class="material-icons">list</md-icon>
    </md-button>

    <h2 flex="" md-truncate="">Toolbar with Disabled/Enabled Icon Buttons</h2>

    <md-button class="md-icon-button" aria-label="Favorite">
    <md-icon md-font-class="material-icons"style="color: greenyellow;">more_vert</md-icon>
    </md-button>
  </div>
</md-toolbar>