<div ng-include="'views/partials/nav.html'"></div>

<md-toolbar>
    <div class="md-toolbar-tools" layout-align="center center">
        <h2>User Dashboard</h2>
    </div>
</md-toolbar>
<div layout="rows" layout-alight="space-around center" layout-padding class="container table-hover">
    <div flex="25">
        <h1>SEAN STACK</h1>
        <h3>SQL</h3>
        <h3>Express</h3>
        <h3>Angular</h3>
        <h3>Node</h3>
    </div>

    <div flex="30">
        <h1>Other Technologies</h1>
        <h3>Google Places API</h3>
        <h3>Angular Material</h3>
        <h3>NBA Headshots API</h3>
    </div>
    <div flex="25">
        <h1>Stretch Goals</h1>
        <h3>Location Ratings</h3>
        <h3>Google Calendar</h3>
        <h3>File Stack</h3>
    </div>
</div>