<div ng-include="'views/partials/nav.html'"></div>
<md-toolbar>
    <div class="md-toolbar-tools" layout-align="center center">
        <h2>Browse Games</h2>
    </div>
</md-toolbar>
<div class="container-fluid clearCard">
    <md-content layout="row" layout-padding layout-align="center center" layout-wrap class="clearCard">
        <md-card ng-repeat='games in browser.gamesObject.data| orderBy:"-date"' style="max-height: 300px" class="md-primary">
            <md-card-header>
                <md-card-avatar>
                    <img ng-src="/photos/basketball-ball-icon-icon-cartoon-vector-13600929.jpg" />
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">OTB</span>

                </md-card-header-text>
            </md-card-header>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{games.name}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p class="md-subhead">{{games.formatted_address}}</p>
                <p class="md-subhead">{{games.date}}</p>
                <p class="md-subhead">{{games.time}}</p>
                <p class="md-subhead">Spots Available:{{games.max_number-games.count}}</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button md-accent" ng-click="browser.getMoreGameInfo(ev,games)" aria-label="MoreInfo">
                    <md-icon class="material-design"> menu</md-icon>
                </md-button>
                <md-button class="md-icon-button md-primary" aria-label="Join Game" ng-click="browser.joinGame(games)">
                    <md-icon class="material-design">add_circle<md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
    </md-content>
</div>