<div ng-include="'views/partials/nav.html'"></div>
<md-toolbar>
    <div class="md-toolbar-tools" layout-align="center center">
        <h2>Browse Games</h2>
    </div>
</md-toolbar>
<div class="conatianer">
    <md-content layout="row" layout-padding layout-align="center center">
        <md-card ng-repeat='games in browser.gamesObject.data' style="max-height: 300px">
            <md-card-header>
                <md-card-avatar>
                    <img ng-src="/photos/basketball-ball-icon-icon-cartoon-vector-13600929.jpg" />
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">OTB</span>

                </md-card-header-text>
            </md-card-header>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{games.name}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <h4>{{games.formatted_address}}</h4>
                <h4 class="md-subhead">{{games.date}}</h4>
                <h4 class="md-subhead">{{games.time}}</h4>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" ng-click="browser.getMoreGameInfo(ev,games)" aria-label="MoreInfo">
                    <md-icon class="material-design"> menu</md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Join Game" ng-click="browser.joinGame(games)">
                    <md-icon class="material-design">add_circle<md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
    </md-content>
</div>