<div ng-include="'views/partials/nav.html'"></div>

    <p>
        Game Browse
    </p>
    <md-content layout="row" layout-padding layout-align="space-around center" flex="75" layout-wrap>       
            <md-card ng-repeat='games in browser.gamesObject.data' layout-padding>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{games.name}}</span>
                            <span class="md-subhead">{{games.formatted_address}}</span>
                            <span class="md-subhead">{{games.time}}</span>
                            <span class="md-subhead">{{games.date}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <span class="md-subhead"> Spots Available: {{games.max_number-games.count}}</span>
                    <md-card-actions layout="row" layout-align="start center">
                        <md-button class="md-raised md-primary" ng-click="browser.getMoreGameInfo(games)">More Info</md-button>
                        <md-button class="md-raised md-primary" ng-click="browser.joinGame(games.id)">Join</md-button>
                    </md-card-actions>
                </md-card-content>
            </md-card>
    </md-content>