<div ng-include="'views/partials/nav.html'"></div>

<!-- Page Container -->

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{cc.info.name}}
            </h1>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">
  
        <div class="col-md-8">
        <md-card>
            <ng-map style="height:670px" center="[{{cc.info.lat}},{{cc.info.lng}}]">
                <marker position="{{cc.info.lat}},{{cc.info.lng}}"></marker>
            </ng-map>
        </md-card>
        </div>
        <!-- Contact Details Column -->
        <div class="col-md-4">
            <h3>Court Details</h3>
            <p>
                {{cc.info.formatted_address}}
            </p>


            <span title="Phone">Phone: {{cc.info.phone}}</span>
            <p>

                <span>Cost: {{cc.info.price?'Free':'Not Free'}}</span>
            </p>
            <p>Indoor or Outdoor?

                <span>{{cc.info.indoor?'Indoor':'Outdoor'}}</span>
            </p>
            <p>
                Surface:
                <span>{{cc.surfaceChanger(cc.info.surface)}}</span>
            </p>
            <p>


                <span>Lights:{{cc.info.lights?'Yes':'No'}}</span>
            </p>
            <md-button ng-click="cc.goToInput()" class="button primary">Add Photo</md-button>
        </div>
    </div>


    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

</div>
