<div ng-include="'views/partials/nav.html'"></div>

<p>
    Game Create
</p>
<div layout="column" layout-align="center center">
    <div layout="column" layout-align="center center" style="padding:40px" class="selectdemoOptionsWithAsyncSearch">
        <md-select placeholder="Locations" ng-model="create.location" md-on-close="create.pushLocation(location)" style="min-width: 400px;">
            <md-option ng-value="location" ng-repeat="location in create.allLocations.data">{{location.name}}</md-option>
        </md-select>
    </div>
</div>
<md-card>
    <md-card-title>
        <md-card-title-text>


            <span class="md-headline">Create a game</span>

            <span class="md-subhead">Let's get it organized!</span>
        </md-card-title-text>
    </md-card-title>

</md-card>

<md-card flex=50>
<form>
<div layout="column" layout-align="center center">

<div layout-align="space-between center">

           <div layout-align="center center" uib-timepicker ng-model="create.gameTime" ng-change="create.changed()" hour-step="hstep" minute-step="mstep"></div>
</div>
<div layout-align="space-between none">
        <div layout-align="center center" > <md-datepicker ng-model="create.gameDate" md-placeholder="Enter date"></md-datepicker>
            </div>

        <md-card  layout-align="center center" >     <input ng-model="create.gameMaxNumber" type="number" placeholder="20?"></md-card>
</div>
            <md-button class="mdc-button" ng-click="create.sendGame(create.location)">&nbsp Create Game &nbsp</md-button>

</div>
</form>
</md-card>