<div ng-include="'views/partials/nav.html'"></div>
<div ng-cloak="" id="container" class="clearCard">

    <p>
        Game Create
    </p>
    <div layout="column" layout-align="center center" class="clearCard">
        <div layout="column" layout-align="center center" style="padding:40px" class="selectdemoOptionsWithAsyncSearch">
            <md-select placeholder="Locations" ng-model="place.locations" md-on-close="place.pushLocation(place.locations)" style="min-width: 400px;">
                <md-option ng-value="location" ng-repeat="location in create.allLocations.data">{{location.name}}</md-option>
            </md-select>
        </div>
    </div>
    <div ng-cloak="" id="createGameCard">
        <md-content class="md-padding clearCard" layout="row" layout-align="center">
            <div class= "clearCard">
                <md-card ng-repeat='game in place.newGame' ng-click="game.locationInfo(game.place_id)">
                    <md-card-content class="clearCard">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{game.name}}</span>
                                <span class="md-subhead">{{game.formatted_address}}</span>
                                <span class="md-subhead">{{game.place_id}}</span>
                            </md-card-title-text>
                        </md-card-title>
                        <div>
                            <form name="Create">
                                <md-input-container>
                                    <label for="time"></label>
                                    <input type="time" name="time" ng-model="place.time" [name="string" ] [min="string" ] [max="string" ] [ng-min="" ] [ng-max=""
                                        ] [ng-change="string" ] aria-label="time" required="">
                                    <div ng-messages="Create.time.$error" role="alert" multiple="">
                                        <div ng-message="required" class="my-message">Please enter time.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container>
                                    <label for="date"></label>
                                    <input type="date" ng-model="place.date" [name="string" ] [min="string" ] [max="string" ] [ng-min="" ] [ng-max="" ] [required="string"
                                        ] [ng-change="string" ] aria-label="date" ng-required="">
                                    <div ng-messages="Create.time.$error" role="alert" multiple="">
                                        <div ng-message="required" class="my-message">Please enter date.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container>
                                    <label for="maxNumber">Max Number of Players</label>
                                    <input type="number" name="maxNumber" ng-model="place.maxNumber" [name="string" ] [min="string" ] [max="string" ] [ng-min=""
                                        ] [ng-max="" ] [required="string" ] [ng-required="string" ] [ng-change="string" ] aria-label="date"
                                        required="">
                                    <div ng-messages="Create.time.$error" role="alert" multiple="">
                                        <div ng-message="required" class="my-message">Please enter Max Number of Players.</div>
                                    </div>
                                </md-input-container>
                                <md-button ng-disabled="!Create.$valid" ng-click="place.sendGame(game)">&nbsp Create Game &nbsp</md-button>
                            </form>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </md-content>
    </div>

</div>