<div ng-include="'views/partials/nav.html'"></div>
<div class="section"></div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s6 offset-s3">
                <div class="row z-depth-1">

                    <h5 id="title">Login Form</h5>
                    <form class="col s10 offset-s1">
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="john_doe@myemail.com" id="email" ng-model="lc.user.username">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" type="password" class="validate" ng-model="lc.user.password">
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <button></button>
                            <button class="waves-effect waves-light btn blue" id="loginbtn" ng-click="lc.login()">Login</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>