<md-card>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <span>Login Form</span>
            </h2>
        </div>
    </md-toolbar>
    <md-card-content>
        <form name="Form">
            <md-input-container class="md-block">
                <label>Login</label>
                <input type="text" name="username" ng-model="lc.user.username" placeholder="login" required="" />
                <div ng-messages="Form.username.$error" role="alert" multiple="">
                    <div ng-message="required" class="my-message">Please enter your username.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Password</label>
                <input type="password" name="password" ng-model="lc.user.password" placeholder="password" required="" md-maxlength="16" />
                <div ng-messages="Form.password.$error" role="alert" multiple="">
                    <div ng-message="required" class="my-message">Please enter your password.</div>
                    <div ng-message="md-maxlength" class="my-message">Too long.</div>
                </div>
            </md-input-container>
            <md-card-actions layout="row" layout-align="space-between none">
                <md-button ng-disabled="!Form.$valid" ng-click="lc.login()" class="md-raised md-primary">&nbsp Login &nbsp</md-button>
                <md-button layout="row" layout-align="space-between start" ng-click="lc.getRegister()">Register</md-button>
            </md-card-actions>
        </form>
    </md-card-content>
</md-card>
<!-- <div id="carosel" layout-align="center none">
    <div style="height: 305px">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption">
                    <h4>Slide {{slide.id}}</h4>
                    <p>{{slide.text}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <body>
    <header class="mdc-toolbar mdc-toolbar--fixed">
        <div class="mdc-toolbar__row">
            <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                <span class="catalog-back">
                    <a href="/" class="mdc-toolbar__menu-icon">
                        <i class="material-icons">&#xE5C4;</i>
                    </a>
                </span>
                <span class="mdc-toolbar__title catalog-title">Card</span>
            </section>
        </div>
    </header>
    <main>
        <div class="mdc-toolbar-fixed-adjust"></div>
        <section class="hero">
            <div class="mdc-card demo-card">
                <section class="mdc-card__media demo-card__16-9-media"></section>
                <section class="mdc-card__primary">
                    <h1 class="mdc-card__title mdc-card__title--large">Title goes here</h1>
                    <h2 class="mdc-card__subtitle">Subtitle here</h2>
                </section>
                <section class="mdc-card__actions">
                    <button class="mdc-button mdc-button--compact mdc-card__action">Action 1</button>
                    <button class="mdc-button mdc-button--compact mdc-card__action">Action 2</button>
                </section>
            </div>
        </section>

        <section class="example">
            <div class="mdc-form-field">
                <div class="mdc-checkbox">
                    <input type="checkbox" class="mdc-checkbox__native-control" id="toggle-rtl" aria-labelledby="toggle-rtl-label" />
                    <div class="mdc-checkbox__background">
                        <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                            <path class="mdc-checkbox__checkmark__path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                        </svg>
                        <div class="mdc-checkbox__mixedmark"></div>
                    </div>
                </div>
                <label for="toggle-rtl" id="toggle-rtl-label">Toggle RTL</label>
            </div>
        </section>

        <section class="demo-typography--section mdc-typography" id="demo-wrapper">
            <div>
                <div class="mdc-card demo-card">
                    <section class="mdc-card__media demo-card__16-9-media"></section>
                    <section class="mdc-card__supporting-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                    </section>
                </div>
            </div>

            <div>
                <div class="mdc-card demo-card demo-card--with-avatar">
                    <section class="mdc-card__primary">
                        <div class="demo-card__avatar"></div>
                        <h1 class="mdc-card__title">Title</h1>
                        <h2 class="mdc-card__subtitle">Subhead</h2>
                    </section>
                    <section class="mdc-card__media demo-card__16-9-media"></section>
                    <section class="mdc-card__supporting-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                    </section>
                    <section class="mdc-card__actions">
                        <button class="mdc-button mdc-button--compact mdc-card__action">Action 1</button>
                        <button class="mdc-button mdc-button--compact mdc-card__action">Action 2</button>
                    </section>
                </div>
            </div>

            <div>
                <div class="mdc-card demo-card demo-card--with-avatar">
                    <section class="mdc-card__primary">
                        <div class="demo-card__avatar"></div>
                        <h1 class="mdc-card__title">Title</h1>
                        <h2 class="mdc-card__subtitle">Subhead</h2>
                    </section>
                    <section class="mdc-card__media demo-card__16-9-media"></section>
                    <section class="mdc-card__actions mdc-card__actions--vertical">
                        <button class="mdc-button mdc-button--compact mdc-card__action">Action 1</button>
                        <button class="mdc-button mdc-button--compact mdc-card__action">Action 2</button>
                    </section>
                </div>
            </div>

            <div>
                <div class="mdc-card demo-card">
                    <section class="mdc-card__media demo-card__16-9-media"></section>
                    <section class="mdc-card__primary">
                        <h1 class="mdc-card__title mdc-card__title--large">Title goes here</h1>
                        <h2 class="mdc-card__subtitle">Subtitle here</h2>
                    </section>
                    <section class="mdc-card__actions">
                        <button class="mdc-button mdc-button--compact mdc-card__action">Action 1</button>
                        <button class="mdc-button mdc-button--compact mdc-card__action">Action 2</button>
                    </section>
                </div>
            </div>

            <div>
                <div class="mdc-card demo-card">
                    <section class="mdc-card__primary">
                        <h1 class="mdc-card__title mdc-card__title--large">Title goes here</h1>
                        <h2 class="mdc-card__subtitle">Subtitle here</h2>
                    </section>
                    <section class="mdc-card__supporting-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                    </section>
                    <section class="mdc-card__actions">
                        <button class="mdc-button mdc-button--compact mdc-card__action">Action 1</button>
                        <button class="mdc-button mdc-button--compact mdc-card__action">Action 2</button>
                    </section>
                </div>
            </div>

            <div>
                <div class="mdc-card mdc-card--theme-dark demo-card demo-card--bg-demo">
                    <section class="mdc-card__primary">
                        <h1 class="mdc-card__title mdc-card__title--large">Title goes here</h1>
                        <h2 class="mdc-card__subtitle">Subtitle here</h2>
                    </section>
                    <section class="mdc-card__actions">
                        <button class="mdc-button mdc-button--compact mdc-button--theme-dark mdc-card__action">Action 1</button>
                        <button class="mdc-button mdc-button--compact mdc-button--theme-dark mdc-card__action">Action 2</button>
                    </section>
                </div>
            </div>

            <div>
                <div class="mdc-card demo-card demo-card--small">
                    <section class="mdc-card__media">
                        <h1 class="mdc-card__title mdc-card__title--large">Title</h1>
                    </section>
                    <section class="mdc-card__actions">
                        <button class="mdc-button mdc-button--compact mdc-card__action">Action 1</button>
                    </section>
                </div>
            </div>

            <div>
                <div class="mdc-card demo-card">
                    <div class="mdc-card__horizontal-block">
                        <section class="mdc-card__primary">
                            <h1 class="mdc-card__title mdc-card__title--large">Title here</h1>
                            <h2 class="mdc-card__subtitle">Subtitle here</h2>
                        </section>
                        <img class="mdc-card__media-item" src="/photos/basketball-2258651_1920.jpg">
                    </div>
                    <section class="mdc-card__actions">
                        <button class="mdc-button mdc-button--compact mdc-card__action">Action 1</button>
                        <button class="mdc-button mdc-button--compact mdc-card__action">Action 2</button>
                    </section>
                </div>
            </div>

            <div>
                <div class="mdc-card demo-card">
                    <div class="mdc-card__horizontal-block">
                        <section class="mdc-card__primary">
                            <h1 class="mdc-card__title mdc-card__title--large">Title here</h1>
                            <h2 class="mdc-card__subtitle">Subtitle here</h2>
                        </section>
                        <img class="mdc-card__media-item mdc-card__media-item--1dot5x" src="/photos/basketball-2258651_1920.jpg">
                    </div>
                    <section class="mdc-card__actions">
                        <button class="mdc-button mdc-button--compact mdc-card__action">Action 1</button>
                        <button class="mdc-button mdc-button--compact mdc-card__action">Action 2</button>
                    </section>
                </div>
            </div>

            <div>
                <div class="mdc-card demo-card">
                    <div class="mdc-card__horizontal-block">
                        <section class="mdc-card__primary">
                            <h1 class="mdc-card__title mdc-card__title--large">Title here</h1>
                            <h2 class="mdc-card__subtitle">Subtitle here</h2>
                        </section>
                        <img class="mdc-card__media-item mdc-card__media-item--2x" src="/photos/basketball-2258651_1920.jpg">
                    </div>
                    <section class="mdc-card__actions">
                        <button class="mdc-button mdc-button--compact mdc-card__action">Action 1</button>
                        <button class="mdc-button mdc-button--compact mdc-card__action">Action 2</button>
                    </section>
                </div>
            </div>

            <div>
                <div class="mdc-card demo-card">
                    <div class="mdc-card__horizontal-block">
                        <img class="mdc-card__media-item mdc-card__media-item--3x" src="/photos/basketball-2258651_1920.jpg">
                        <section class="mdc-card__actions mdc-card__actions--vertical"> -->
                            <!-- TODO(sgomes): Replace with icon buttons when we have those. -->
                            <!-- <button class="mdc-button mdc-button--compact mdc-card__action">A1</button>
                            <button class="mdc-button mdc-button--compact mdc-card__action">A2</button>
                        </section>
                    </div>
                </div>
            </div>

        </section>

    </main> -->