<div ng-include="'views/partials/nav.html'"></div>
<div="container">
    <md-card flex=50>
        <form>
            <div layout="column" layout-align="center center">

                <div layout-align="space-between center">

                    <div layout-align="center center" uib-timepicker ng-model="create.gameTime" ng-change="create.changed()" hour-step="hstep"
                        minute-step="mstep"></div>
                </div>
                <div layout-align="space-between none">
                    <div layout-align="center center">
                        <md-datepicker ng-model="create.gameDate" md-placeholder="Enter date"></md-datepicker>
                    </div>

                    <md-card layout-align="center center">
                        <input ng-model="create.gameMaxNumber" type="number" placeholder="20?">
                    </md-card>
                </div>
                <md-button class="mdc-button" ng-click="create.sendGame(create.location)">&nbsp Create Game &nbsp</md-button>

            </div>
        </form>
    </md-card>
    </div>