<div ng-include="'views/partials/nav.html'"></div>



<div>
    <md-input-container layout-align="center center" flex="nogrow">
        <label for="places">search</label>
        <input type="text" md-no-asterisk="true" name="places" ng-model="place.searchBar" />
    </md-input-container>
    <md-card-icon-actions>
        <md-icon md-font-icon="material-design" ng-click="place.getPlaces()">search</md-icon>
    </md-card-icon-actions>
</div>
<div layout="row" layout-align="space-around center">
    <div layout="column" flex="40" layout-fill ng-cloak>

        <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools">Locations</div>
        </md-toolbar>



        <section>
            <md-content style="height: 600px;">
                <md-list layout-padding>
                    <md-list-item class="md-3-line" ng-repeat="places in place.data.data">
                        <div class="md-list-item-text">
                            <h3>{{places.name}}</h3>
                            <h4>{{places.formatted_address}}</h4>
                        </div>
                    </md-list-item>
                </md-list>

            </md-content>
        </section>
    </div>
    <md-card flex>

        <ng-map default-style="false" zoom="11" style="height:670px" center="[44.9778,-93.2650]">

            <marker ng-repeat="markers in place.data.data" position="[{{markers.geometry.location.lat}},{{markers.geometry.location.lng}}]"></marker>
        </ng-map>
    </md-card>
</div>

<!-- <md-toolbar layout="row" class="md-hue-3">
    <div class="md-toolbar-tools">
        <span>Location</span>
    </div>
</md-toolbar>
<md-content layout="row" layout-align="center none" layout-padding>
    <md-virtual-repeat-container md-top-index="topIndex">

        <md-list flex="">
            <md-list-item md-virtual-repeat="places in place.data.data" class="repeated-item" md-item-size="40" class="md-headline">{{places.name}}</md-list-item>
        </md-list>
    </md-virtual-repeat-container>
</md-content>
 -->