<div ng-include="'views/partials/nav.html'"></div>


<div class="md-toolbar-tools" layout-align="center center">
    <h2>Search for a Location</h2>
</div>
<div layout-align="center center">
    <md-input-container>
        <label for="places">search</label>
        <input type="text" md-no-asterisk="true" name="places" ng-model="place.searchBar" />
    </md-input-container>
    <md-card-icon-actions>
        <md-icon md-font-icon="material-design" ng-click="place.getPlaces()">search</md-icon>
    </md-card-icon-actions>
</div>
<div layout="row" layout-align="space-around none">
    <div layout="column" flex="40" layout-fill>

        <md-toolbar md-scroll-shrink>
            <div class="md-toolbar-tools">Locations</div>
        </md-toolbar>



        <section ng-show="place.data.data[0]" class="mapSearch">
            <md-content style="height: 600px;">
                <md-list layout-padding>
                    <md-list-item class="md-3-line" ng-repeat="places in place.data.data" ng-click="place.getInfo(places)">
                        <div class="md-list-item-text">
                            <h3>{{places.name}}</h3>
                            <h4>{{places.formatted_address}}</h4>
                        </div>
                    </md-list-item>
                </md-list>

            </md-content>
        </section>
    </div>
    <md-card flex= "50">

        <ng-map default-style="false" zoom="11" style="height:670px" center="[44.9778,-93.2650]">

            <marker ng-repeat="markers in place.data.data" position="[{{markers.geometry.location.lat}},{{markers.geometry.location.lng}}]"></marker>
        </ng-map>
    </md-card>
</div>