
    <h1 class="lead">Get Places</h1>
    <h1>{{7===7}}</h1>
    <h2>Oh, the places you will go</h2>
    <form>
        <md-input-container>
            <label>Search:</label>
            <input type="text" md-no-asterisk="true" name="places" ng-model="place.search" />
        </md-input-container>
        <md-button type='submit' ng-click="place.getPlaces()">Search</md-button>
        
    </form>
    <div ng-cloak="" class="creatGameCard">
        <!-- <md-content class="md-padding" layout-xs="column" layout="row"> -->
        <div flex-xs="" flex-gt-xs="50" layout="column">
            <md-card md-theme="{{'dark-purple'}}" ng-repeat='places in place.data'>
                <md-card-content>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{places.name}}</span>
                            <span class="md-subhead">{{places.formatted_address}}</span>
                            <span class="md-subhead">{{places.place_id}}</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">
                                <img ng-src="{{places.icon}}" class="md-card-image" alt="Static google Map" />
                            </div>

                        </md-card-title-media>
                    </md-card-title>
                    <div>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-raised">Create</md-button>
                        <!-- <md-button ng-click="place.getInfo(places.place_id)" class="md-raised">More Info</md-button> -->
                    </md-card-actions>
                    </div>
                </md-card-content>
            </md-card>
        </div>
        <!-- </md-content> -->
        {{7===7}}
    </div>