<div ng-include="'views/partials/nav.html'"></div>
<md-toolbar>
    <div class="md-toolbar-tools" layout-align="center center">
        <h2>Location Data</h2>
    </div>
</md-toolbar>
<div id="container" layout="row" layout-align="center center" layout-padding>
    <md-table-container>
        <table md-table md-row-select multiple ng-model="info.location_id" md-progress="promise">
            <thead md-head  md-order="tc.query.order">
                <tr md-row>
                    <th>
                        <span>Name</span>
                    </th>
                    <th md-column>
                        <span>Address</span>
                    </th>
                    <th md-column >Lights</th>
                    <th md-column md-numeric ="size">Size</th>
                    <th md-column md-numeric>Indoor/Outdoor</th>
                    <th md-column md-numeric md-order-by="info.price"><span>Price</span></th>
                    <th md-column md-numeric>Surface</th>
                    <th md-column md-numeric>Air Conditioning</th>

                </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-select="info" md-select-id="name" md-auto-select ng-repeat="info in tc.locationInfoForTable.data" ng-click="tc.goToCreate(info)">
                    <td style="font-size: 20px" md-cell>{{info.name}}</td>
                    <td style="font-size: 20px" md-cell>{{info.formatted_address}}</td>
                    <td style="font-size: 20px" md-cell> {{info.lights?'Yes':'No'}}</td>
                    <td style="font-size: 20px" md-cell>{{tc.dataChanger(info.size)}}</td>
                    <td style="font-size: 20px" md-cell>{{info.indoor?'Yes':'No'}}</td>
                    <td style="font-size: 20px" md-cell>{{info.price?'Free!':'Not Free'}}</td>
                    <td style="font-size: 20px" md-cell>{{tc.surfaceChanger(info.surface)}}</td>
                    <td style="font-size: 20px" md-cell>{{info.air_con?'Yes':'No'}}</td>
                </tr>
            </tbody>
        </table>
    </md-table-container>

    <!-- <md-card flex="100">
    <md-toolbar>
        <div class="md-toolbar-tools" layout="row">
            <div flex="10" layout-padding>Name</div>
            <div flex="20" layout-padding>Address</div>
            <div flex="5" layout-padding>Lights</div>
            <div flex="5" layout-padding>Size</div>
            <div flex="10" layout-padding>Indoor/Outdoor</div>
            <div flex="5" layout-padding>Price</div>
            <div flex="5" layout-padding>Surface</div>
            <div flex="5" layout-padding>Air Conditioning</div>
        </div>
    </md-toolbar>
    <md-list>
        <md-list-item layout="row" ng-repeat="info in tc.locationInfoForTable.data" ng-click="uc.goToGame(game)">
            <div flex="10" layout-padding>{{info.name}}</div>
            <div flex="20" layout-padding>{{info.formatted_address}}</div>
            <div flex="5" layout-padding>{{info.lights}}</div>
            <div flex="5" layout-padding>{{info.size}}</div>
            <div flex="10" layout-padding>{{info.indoor}}</div>
            <div flex="5" layout-padding>{{info.price}}</div>
            <div flex="5" layout-padding>{{info.surface}}</div>
            <div flex="5" layout-padding>{{info.air_con}}</div>
        </md-list-item>
    </md-list>


</md-card> -->
</div>