<div ng-include="'views/partials/nav.html'"></div>
<md-card flex="60">
    <md-toolbar>
        <div class="md-toolbar-tools" layout="row">
            <div flex="30" layout-padding>Name</div>
            <div flex="25" layout-padding>Date</div>
            <div flex="20" layout-padding>Time</div>
            <div flex="25" layout-padding>Edit</div>
        </div>
    </md-toolbar>
    <md-list>
        <md-list-item layout="row" ng-repeat="game in uc.userGames.data" ng-click="uc.goToGame(game)">
            <div flex="30" layout-padding>{{game.name}}</div>
            <div flex="25" layout-padding>{{game.date}}</div>
            <div flex="20" layout-padding>{{game.time}}</div>
            <div flex="25" layout-padding>
                <md-button class="md-warn" ng-click="uc.unJoinGames(game)">UnJoin</md-button>
            </div>
        </md-list-item>
    </md-list>


</md-card>