
<div id="container" layout="column" layout-align="center start" layout-padding>


    <!-- <md-card flex="35" layout="column" layout-align="center center">
        <md-toolbar class="md-toolbar-tools">
                <md-card-title-text>
                    <span class="md-headline" layout="column" layout-align="space-between start">User Actions</span>
                </md-card-title-text>
            </md-toolbar>
            
        <md-button style="font-size: 18px" class="md-accent" aria-label="Data">Search Database</md-button>
        <md-button style="font-size: 18px" class="md-accent" aria-label="Create"></md-button>
        <md-button style="font-size: 18px" class="md-accent" aria-label="Add Location" ng-click="uc.searchScreen()">Add Location to Database</md-button>
    </md-card> -->


    <div id="rectangle" layout-padding layout="column" layout-align="space between center">
            <md-button style="font-size: 18px" class="md-accent" aria-label="Data" ng-click="uc.tableScreen()">Search Database</md-button>
            <md-button style="font-size: 18px" class="md-accent" aria-label="Add Location" ng-click="uc.searchScreen()">Add Location to Database</md-button>
    </div>


</div>